<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DDD. Admin - Management Blog</title>

    <th:block th:include="/common/admin/using-resource-header.html"></th:block>
</head>
<body class="sb-nav-fixed">
<th:block th:include="/common/admin/top-header.html"></th:block>

<div id="layoutSidenav">
    <th:block th:include="/common/admin/left-navigation.html"></th:block>
    <div id="layoutSidenav_content" class="gray-bg">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Quản lý tin tức</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">DDD. Administrator</li>
                </ol>

                <div th:if="${success}" class="alert alert-success">
                    [[${success}]]
                </div>

                <div th:if="${error}" class="alert alert-error">
                    [[${error}]]
                </div>

                <div class="card mb-4 mt-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Quản lý tin tức
                    </div>
                    <div class="list-button">
                        <a th:href="@{/admin/blog-management/adding}" data-bs-toggle="tooltip"
                           title="Thêm bài viết" class="add">
                            <i class="fa-solid fa-plus" style="color: #e3bd74;"></i>Thêm bài viết
                        </a>
                    </div>
                    <div class="table-responsive">
                        <table id="blogData" class="table table-striped" style="width:100%">
                            <thead>
                            <tr>
                                <th>ID Tin tức</th>
                                <th>Tiêu đề</th>
                                <th>Tác giả</th>
                                <th>Mô tả</th>
                                <th>Nội dung</th>
                                <th>Mã Loại</th>
                                <th>Trạng thái</th>
                                <th>Hình ảnh</th>
                                <th>Tạo ngày</th>
                                <th>Tạo bởi</th>
                                <th>Sửa ngày</th>
                                <th>Sửa bởi</th>
                                <th>Chức năng</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>ID Tin tức</th>
                                <th>Tiêu đề</th>
                                <th>Tác giả</th>
                                <th>Mô tả</th>
                                <th>Nội dung</th>
                                <th>Mã Loại</th>
                                <th>Trạng thái</th>
                                <th>Hình ảnh</th>
                                <th>Tạo ngày</th>
                                <th>Tạo bởi</th>
                                <th>Sửa ngày</th>
                                <th>Sửa bởi</th>
                                <th>Chức năng</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<th:block th:include="/common/admin/using-resource-footer.html"></th:block>

<script th:src="@{/templates/logic-datatable/admin/datatable-blog.js}"></script>
<script th:src="@{/templates/logic-datatable/service-logic.js}"></script>
</body>
</html>
