<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DDD. Admin - Chỉnh sửa đơn hàng</title>
    <th:block th:replace="common/admin/using-resource-header :: head-resources"/>
</head>
<body class="sb-nav-fixed">

<th:block th:replace="common/admin/top-header :: top-header"/>

<div id="layoutSidenav">
    <th:block th:replace="common/admin/left-navigation :: left-navigation"/>

    <div id="layoutSidenav_content" class="gray-bg">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Chỉnh sửa đơn hàng</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">DDD. Administrator</li>
                </ol>

                <div th:if="${msg != null}">
                    <div class="alert alert-success" th:if="${msg == 'success'}">Thay đổi thành công!</div>
                    <div class="alert alert-danger" th:if="${msg != 'success'}">Thay đổi thất bại!</div>
                </div>

                <form th:action="@{/admin/order-management/editing}" method="post" th:object="${displayOrder}">
                    <div class="row">
                        <div class="col-6">
                            <label for="email">Mã đơn hàng</label>
                            <input type="text" id="email" name="email" th:value="*{id}" disabled>
                        </div>

                        <div class="col-3">
                            <label for="createdDate">Ngày đặt</label>
                            <input type="date" id="createdDate" name="createdDate"
                                   th:value="${#dates.format(displayOrder.createdDate, 'yyyy-MM-dd')}" disabled>
                        </div>

                        <div class="col-3">
                            <label for="shipToDate">Ngày giao</label>
                            <input type="date" id="shipToDate" name="shipToDate"
                                   th:value="${#dates.format(displayOrder.shipToDate, 'yyyy-MM-dd')}">
                        </div>

                        <div class="col-6">
                            <label for="total">Tổng trị giá</label>
                            <input type="text" id="total" name="total"
                                   th:value="${#numbers.formatDecimal(displayOrder.total, 1, 'COMMA', 0, 'POINT')} + 'đ'" disabled>
                        </div>

                        <div class="col-6">
                            <label for="status">Trạng thái</label>
                            <select id="status" name="status">
                                <option value="1" th:selected="*{status == 1}">Chờ xác nhận</option>
                                <option value="2" th:selected="*{status == 2}">Đã xác nhận</option>
                                <option value="3" th:selected="*{status == 3}">Đang vận chuyển</option>
                                <option value="4" th:selected="*{status == 4}">Thành công</option>
                                <option value="0" th:selected="*{status == 0}">Hủy bỏ</option>
                            </select>
                        </div>
                    </div>

                    <input type="hidden" name="id" th:value="*{id}">

                    <input type="submit" value="Chỉnh sửa đơn hàng" class="adding button">
                    <a th:href="@{/admin/order-management}">Quay về trang quản lý</a>
                    <a th:href="@{/admin/home}">Quay về trang chủ</a>
                </form>
            </div>
        </main>
    </div>
</div>

<th:block th:replace="common/admin/using-resource-footer :: footer-resources"/>
</body>
</html>
