<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>DDD. Admin - Manage Warehouse</title>
  <th:block th:replace="common/admin/using-resource-header :: head"></th:block>
</head>
<body class="sb-nav-fixed">

<!-- Header -->
<th:block th:replace="common/admin/top-header :: top-header"></th:block>

<div id="layoutSidenav">
  <th:block th:replace="common/admin/left-navigation :: left-nav"></th:block>

  <div id="layoutSidenav_content" class="gray-bg">
    <main>
      <div class="container-fluid px-4">
        <h1 class="mt-4">Quản lý chi tiết kho</h1>
        <ol class="breadcrumb mb-4">
          <li class="breadcrumb-item active">DDD. Administrator</li>
        </ol>
        <div class="card mb-4 mt-4">
          <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Quản lý chi tiết kho
          </div>
          <div class="list-button">
            <a th:href="@{/admin/warehouse-management/adding}" data-bs-toggle="tooltip"
               title="Thêm kho" class="add">
              <i class="fa-solid fa-plus" style="color: #e3bd74;"></i>Thêm kho
            </a>
          </div>
          <div class="card">
            <div class="card-body">
              <table id="warehouseDetailData" class="table table-striped" style="width:100%">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Id nhập kho</th>
                  <th>Id sản phẩm</th>
                  <th>Số lượng</th>
                </tr>
                </thead>
                <tbody>
                <!-- DataTable sẽ render nội dung qua JavaScript -->
                </tbody>
                <tfoot>
                <tr>
                  <th>#</th>
                  <th>Id nhập kho</th>
                  <th>Id sản phẩm</th>
                  <th>Số lượng</th>
                </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="return-btn">
        <a th:href="@{/admin/warehouse-management}" class="checking-order-detail">Quay về đơn hàng</a>
        <a th:href="@{/admin/home}" class="checking-order-detail">Quay về trang chủ</a>
      </div>
    </main>
  </div>
</div>

<!-- Lấy giá trị warehouseId từ request -->
<script>
  const warehouseId = /*[[${warehouseId}]]*/ 0; // Giả sử bạn sẽ truyền giá trị warehouseId từ controller
</script>

<!-- Footer -->
<th:block th:replace="common/admin/using-resource-footer :: footer-resources"></th:block>

<!-- Các file JS cho datatable -->
<script th:src="@{/templates/DataTables/datatables.min.js}"></script>
<script th:src="@{/templates/logic-datatable/admin/datatable-warehouse-detail.js}"></script>
<script th:src="@{/templates/logic-datatable/service-logic.js}"></script>

</body>
</html>
