<meta charset="UTF-8">

<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css">
<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/sharp-solid.css">
<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/sharp-regular.css">
<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/sharp-light.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.1/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/admin/css/styles.css}">
<link rel="stylesheet" th:href="@{/admin/css/admin-custom.css}">

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script th:src="@{/DataTables/datatables.js}"></script>
<link rel="stylesheet" th:href="@{/DataTables/datatables.css}">
<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
