<!-- Start Header/Navigation -->
<nav id="navigation" class="custom-navbar navbar navbar-fixed navbar-expand-md navbar-dark bg-dark" aria-label="DDD Navigation Bar">
    <div class="container" id="container-nav">
        <a class="navbar-brand" th:href="@{/home}">DDD<span>.</span></a>

        <div class="col-lg-4 col-md-3 ms-2 p-1">
            <div class="search-frame">
                <form action="#" th:action="@{/search}" method="get">
                    <div id="search-component">
                        <input id="search-box" type="text" name="key" class="form-control" placeholder="Tìm kiếm từ khóa, sản phẩm, bài viết..." />
                        <button type="submit" class="search-btn"><i class="fa-light fa-magnifying-glass"></i></button>
                    </div>
                    <input type="hidden" name="page" id="page" value="1" />
                    <input type="hidden" name="sort" value="none" />
                    <input type="hidden" name="range" value="none" />
                </form>
                <ul id="search-suggest"></ul>
            </div>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsFurni">
            <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/home}">Trang chủ</a>
                </li>
                <li><a class="nav-link" th:href="@{/shop}">Sản phẩm</a></li>
                <li><a class="nav-link" th:href="@{/blog}">Tin tức</a></li>
                <li><a class="nav-link" th:href="@{/contact}">Liên hệ</a></li>
                <li><a class="nav-link" th:href="@{/about-us}">Về chúng tôi</a></li>
            </ul>

            <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                <!-- Check if user is null -->
                <li th:if="${user == null}" class="hv-li">
                    <a class="nav-link yellow ss-btn" th:href="@{/signin}">Đăng nhập</a>
                </li>
                <li th:if="${user == null}" class="hv-li">
                    <a class="nav-link yellow ss-btn" th:href="@{/register}">Đăng ký</a>
                </li>

                <!-- If user is not null -->
                <li th:if="${user != null}" class="hv-li">
                    <a class="nav-link yellow position-relative" href="#">
                        <i class="fa-regular fa-user"></i>
                    </a>
                    <ul class="ul-drop-menu">
                        <li class="drop-menu hello-user">
                            Xin chào, <span th:text="${user.firstName != null and user.lastName != null ? user.firstName + ' ' + user.lastName : user.email}"></span>!
                        </li>
                        <li class="drop-menu hv-gray"><a th:href="@{/user-info}">Thông tin tài khoản</a></li>
                        <li class="drop-menu hv-gray"><a th:href="@{/order-history}">Lịch sử đơn hàng</a></li>
                        <li class="drop-menu hv-gray"><a th:href="@{/signout}">Đăng xuất</a></li>
                    </ul>
                </li>

                <li th:if="${user != null}" class="hv-li">
                    <a class="nav-link yellow" th:href="@{/cart-management}">
                        <i class="fa-light fa-cart-shopping"></i>
                        <span class="number-item yellow" th:text="${cart != null ? cart.totalItem : 0}"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Header/Navigation -->
