<!DOCTYPE html>
<html lang="en">
<link href="css/style.css" rel="stylesheet" th:href="@{/client/css/style.css}">
<head>
    <th:block th:include="~{/common/client/using-resource-header.html}"></th:block>
    <title>DDD. - Bài viết</title>
</head>

<body>
<th:block th:include="~{/common/client/header.html}"></th:block>

<!-- Start Hero Section -->
<div class="hero blog position-relative-top-84px">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12">
                <div class="intro-excerpt">
                    <h1>Tin tức</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->

<!-- Start Blog Section -->
<div class="blog-section position-relative-top-84px">
    <div class="container">
        <div class="row">
            <th:block th:each="blog : ${listBlogs}">
                <div class="col-12 col-sm-6 col-md-4 mb-5">
                    <div class="post-entry">
                        <a th:href="@{/blog-detail(id=${blog.id})}" class="post-thumbnail">
                            <img src="../images/blog/post-1.jpg" alt="Image" class="img-fluid">
                        </a>
                        <div class="post-content-entry">
                            <h3>
                                <a th:href="@{/blog-detail(id=${blog.id})}">${blog.title}</a>
                            </h3>
                            <div class="meta">
                                <span>Tác giả: <a href="#">[[${blog.author}]]</a></span>
                                <span> on <a href="#">[[${#dates.format(blog.createdDate, 'dd/MM/yyyy')}]]</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</div>
<!-- End Blog Section -->

<th:block th:include="~{/common/client/footer.html}"></th:block>

<th:block th:include="~{/common/client/using-resource-footer.html}"></th:block>
</body>
</html>
